#main {
  margin-bottom: 2%;
}

.content {
  float: left;
  color: black;
}

#top {
  padding-top: 10%;
}

#bottom {
  padding-bottom: 10%;
}

body {
  background-color: #e9e3e6;
  font-family: "Raleway", sans-serif;
  font-size: large;
}
.navbar, #navi {
  background-color: #9a8f97;
}
.navbar-brand,
.nav-link {
  color: black;
}
a {
  color: #736f72;
}
a:hover {
  color: #98838f;
}
ul {
  list-style-type: none;
}
